<div ng-controller="videoCtrl" ng-init="init()" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-8">
            <h3>Muzima Videos</h3>
        </div>
        <div class="col-lg-4">
            <form>
                <input type="text" class="form-control" ng-model="searchQuery" placeholder="Search"
                       style="padding-left: 5px; padding-right: 5px">
            </form>
        </div>
    </div>

    <div ng-repeat="muzimaVideo in muzimaVideos">
        <div class="row">
            <div class="col-lg-12 panel">
                <div class="panel-heading">
                    <span>
                        <a title="Delete Video"
                           ng-click="remove(muzimaVideo)">
                            <i class="icon-remove"></i>
                        </a>
                    </span>
                    <span>
                        <a title="Preview Video" ng-click = "viewMedia(muzimaVideo)">
                            <i class="icon-eye-open"></i>
                        </a>
                    </span>
                    <span>
                        <a title="Add Tags" ng-click="editMode = !editMode">
                            <i class="icon-tags"></i>
                        </a>
                    </span>
                    <span class="form-heading content_wrap">
                        <strong>{{muzimaVideo.title}}</strong>
                    </span>
                </div>
                <div>
                    <p><small>{{muzimaVideo.description}}</small></p>
                </div>
                <div>
                    <p><small>{{muzimaVideo.version}}</small></p>
                </div>
                <div>
                    <span class="tag" ng-repeat="tag in muzimaVideo.tags">
                        <span class="label form-tag" ng-style="tagStyle(tag.id)">
                            <span>{{tag.name}} </span>
                            <span ng-click="removeTag(muzimaVideo, tag)">
                                <i class="icon-remove"></i>
                            </span>
                        </span>
                    </span>
                </div>
                <div ng-show="editMode">
                    <form ng-submit="saveTag(muzimaVideo)">
                        <input name="newTag" ng-model="muzimaVideo.newTag" ng-trim="true" type="text"
                               class="form-control" placeholder="Add tag"
                               style="margin-top: 15px; padding-left: 5px; padding-right: 5px">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>