
</br>
<!--new ui-->
<div ng-controller="videoCtrl" ng-init="init()">
<header id="style-guide-header">
    <div  class="col-lg-8">
        <h2><i class="icon-home"></i> Muzima Media</h2>
    </div>
    <div  class="col-lg-4">
        <h2> <i class="icon-upload-alt pull-right" title = "Upload Media" ng-click = "go('/import/video')"></i></h2>
    </div>
</header>

<div id="body-wrapper" class="test-page">

    <div class="row ">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <form class="ng-pristine ng-valid">
                <input type="text" class="form-control ng-pristine ng-valid"  placeholder="Search Media By Tag" style="padding-left: 5px; padding-right: 5px">
            </form>
        </div>
    </div>
    </br>
    <div class = "row forms-list">
        <div class ="col-lg-12" >

            <table>
                <thead >
                <tr class = "forms-header">
                    <th>Uploaded Media </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><i class = "pull-right" ng-click = "toggleRetired()"><small>Toggle Retired</small></i></th>
                </tr>
                </thead>
                <thead >
                <tr class = "forms-list-header">
                    <th>Name</th>
                    <th>Version</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Tags</th>
                </tr>
                </thead>
                <tbody ng-repeat="muzimaVideo in muzimaVideos | filter:toggleFilter | orderBy:'title'">
                <tr>
                    <td>
                        <a href="" ng-click = "viewMedia(muzimaVideo)" ng-hide = "muzimaVideo.voided">{{muzimaVideo.title}}</a>
                        <a href="" ng-click = "viewMedia(muzimaVideo)" ng-show = "muzimaVideo.voided"><strike>{{muzimaVideo.title}}</strike></a>
                    </td>
                    <td>{{muzimaVideo.version}}</td>
                    <td>{{muzimaVideo.description}}</td>
                    <td ng-init = "type = getType(muzimaVideo.muzimaMediaType).then(setType)">{{type}}</td>
                    <td>
                         <span class="tags" ng-repeat="tag in muzimaVideo.tags">
                            <span class="label form-tag" ng-style="tagStyle(tag.id)">
                                <span>{{tag.name}} </span>
                            </span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>

