<div ng-controller="ImportCtrl">
    <div class="row">
        <div class="col-lg-6 ">
            <div id="error-alert"></div>
            <form role="form" ng-submit="upload(file, title, version, description)">
                <div class="panel">
                    <div class="form-group">
                        <label for="videoTitle">Title</label>
                        <input type="text" class="form-control" id="videoTitle" ng-model="title"
                               placeholder="Enter Video Title" required="true">
                    </div>
                    <div class="form-group">
                        <label for="version">Version</label>
                        <input type="text" class="form-control" id="version" ng-model="version"
                               placeholder="Enter Version" required="true">
                    </div>
                    <div class="form-group">
                        <label for="videoDescription">Description</label>
                        <textarea class="form-control" id="videoDescription" rows="3"
                                  placeholder="Enter description" ng-model="description"></textarea>
                    </div>
                </div>
                <div class = "panel">
                    <div class="form-group">
                        <file-upload message="Click here to upload video" />
                    </div>
                </div>
                <div class="well-small">
                    <button ng-click="cancelUpload()" class="btn btn-danger">Cancel</button>
                    <button ng-disabled="!hasFile()" type="submit" class="btn btn-success">Upload</button>
                </div>
            </form>

        </div>
    </div>
</div>